<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% include 'header.html' %}
  </head>
  <body>

    <div class="container" style="margin-top: 5%">

      <div class="row">
          <div class="col-sm-12">
              <p style="text-align: center;"><img alt="" src="/static/logo2.png" style="width: 75%"/></p>
          </div>
      </div>

      <div class="row">

          <form class="form-horizontal" method="post" action="/order/create" role="form"  onsubmit='return validateCreateOrderForm()'>
              <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
              <div class="row form-group">
                  <label class="col-xs-2 col-sm-4 control-label white-font" for="inputCompany">快递</label>
                  <div class="col-xs-6 col-sm-4">
                      <select  name="company" class="form-control" id="inputCompany" >
                        <option value="" disabled selected>请选择快递</option>
                          <option>申通</option>
                          <option>中通</option>
                          <option>圆通</option>
                          <option>韵达</option>
                          <option value="汇通">汇通</option>
                          <option value="优速">优速</option>
                          <option value="全峰">全峰</option>
                          <option value="国通">国通</option>
                      </select>
                  </div>
              </div>

              <div class="row form-group">
                  <label class="col-xs-2 col-sm-4 control-label white-font" for="inputName">姓名</label>
                  <div class="col-xs-6 col-sm-4">
                      <input list="hd-contacts" name="name" type="text" class="form-control" id="inputName" placeholder="请输入姓名">
                  </div>
                    <datalist id="hd-contacts">
                      {% for c in contacts %}
                        <option value="{{ c.name }}">
                      {% endfor %}
                    </datalist>
              </div>
              <div class="row form-group">
                  <label class="col-xs-2 col-sm-4 control-label white-font" for="inputPhone">手机</label>
                  <div class="col-xs-6 col-sm-4">
                      <input name="phone" type="tel" class="form-control" id="inputPhone" placeholder="请输入手机">
                  </div>

              <div class="col-xs-4 col-sm-4" style="padding-left: 0px;">
                    <div class="checkbox">
                        <label class="white-font" >
                          <input name="savecontact" type="checkbox" style="width:20px;height:20px" id="inputSaveContact">
                           记住用户名
                        </label>
                    </div>
                  </div>
              </div>

              <div class="row form-group">
                  <label class="col-sm-4 col-xs-2 control-label white-font" for="inputAmount">数量</label>

                  <div class="col-sm-1  col-xs-3">
                      <input style="text-align:center;" name="amount" type="tel" class="form-control" id="inputAmount" value="1">
                  </div>
                  <div class="col-sm-2  col-xs-6">
                      <button type="button" class="btn btn-default" onclick="incrAmount(-1);">-</button>
                      <span style="margin-left: 10px;"></span>
                      <button type="button" class="btn btn-default" onclick="incrAmount(1);">+</button>
                  </div>
              </div>


              <div class="row form-group">
                  <label class="col-sm-4 col-xs-2 control-label white-font" for="inputAddress"></label>
                  <div class="col-sm-4  col-xs-4" style="width: 300px;">

                      {% if quota > 0 %}
                      <button type="button" class="btn btn-default" onclick="getAddress()" id="id-hs-address-btn">送货上门</button>
                      <input name="address" type="hidden" class="form-control" id="inputAddress" value="">
                      <span style="color: #0fa7ff">今天名额剩{{ quota }}个</span>
                      {% else %}
                      <button type="button" class="btn btn-default" disabled>送货上门</button>
                      <span style="color: #0fa7ff">今天送货上门名额已被抢光</span>
                      {% endif %}
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <div class="checkbox">
                        <label class="yellow-font" >
                          <input required type="checkbox" style="width:20px;height:20px" id="inputAgreement">
                           已仔细阅读代取事项（
                          <a href="http://mp.weixin.qq.com/s?__biz=MzA4MDI2NjMyOA==&mid=200045744&idx=1&sn=ed1a87d1ab45aebd852e1f4d4d975425#rd">
                            点击查看
                          </a>
                            ）
                        </label>
                    </div>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-default">去吧～Ho道</button>

                  <input type="button" style="margin-left: 20px"
                         class="btn btn-default" onclick="location.href='/order'"
                         value="追踪Ho单"/>
                </div>

              </div>

          </form>

      </div>
    </div>


    <div class="modal fade" id="id-hs-input-dorm-address-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header center-block ">
            <h4 class="center-block">送货上门须知</h4>
            <ul><li>送货时间：周日 - 周五</li>
                <li>总价：每件3元（多件者第一件3元，往后每件2元）</li>
                <li>货物仅限中小件（超重、超大的请勿选择此项服务。不便之处，敬请原谅！）</li>
            </ul>
        </div>
        <div class="modal-body">
            <label for="id-hs-dorm-address-input" class="control-label">输入您的地址：</label>
            <input type="text" class="form-control" id="id-hs-dorm-address-input">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeAddress()">取消</button>
            <button class="btn btn-primary" onclick="confirmAddress()">确认</button>
        </div>
    </div>
    </div>
    </div>

  {% include 'footer.html' %}
    <script>

        function hdFillNameAndPhone() {
            var phone = document.getElementById("inputPhone");
            var name = document.getElementById("inputName");
              {% for c in contacts %}
                  {% if c.is_primary() %}
                    name.value = "{{ c.name }}";
                    phone.value ="{{ c.phone }}";
                  {% endif %}
              {% endfor %}
        };

        hdFillNameAndPhone();

        function getAddress() {
            $("#id-hs-input-dorm-address-modal").modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function removeAddress() {
            setAddress("");
            $("#id-hs-input-dorm-address-modal").modal('hide');
        }

        function confirmAddress() {
            setAddress(document.getElementById('id-hs-dorm-address-input').value);
            $("#id-hs-input-dorm-address-modal").modal('hide');
        }

        function setAddress(addr) {
            document.getElementById('id-hs-dorm-address-input').value = addr;
            document.getElementById('inputAddress').value = addr;

            if (addr != "") {
                $('#id-hs-address-btn').html("配送至：" + addr);
            } else {
                $('#id-hs-address-btn').html("送货上门");
            }
        }


        function incrAmount(delta) {
            var amount = document.getElementById("inputAmount");
            var value = parseInt(amount.value);

            if (!value) {
                value = 1;
            } else {
                value = value + delta;
            }

            if (value < 1) {
                value=1;
            }
            if (value > 10) {
                value=10;
            }

            amount.value=value;
        }
        function validateCreateOrderForm(){
            var company = document.getElementById("inputCompany").selectedIndex;
            var phone = document.getElementById("inputPhone").value;
            var name = document.getElementById("inputName").value;
            var agreement = document.getElementById("inputAgreement").checked;
            var amount = parseInt(document.getElementById("inputAmount").value);

            var ok = true;
            if (company == "0") {
                document.getElementById("inputCompany").parentNode.parentNode.className += " has-error";
                ok = false;
            }

            if (name == "") {
                document.getElementById("inputName").parentNode.parentNode.className += " has-error";
                ok = false;
            }

            if (phone == "") {
                document.getElementById("inputPhone").parentNode.parentNode.className += " has-error";
                ok = false;
            }

            if (!amount) {
                document.getElementById("inputAmount").parentNode.parentNode.className += " has-error";
                ok = false;
            }

            if (!agreement) {
                document.getElementById("inputAgreement").parentNode.parentNode.className += " has-error";
                ok = false;
            }

            return ok;
        }
    </script>

  </body>
</html>
