{% include 'header.html' %}
{% include 'nav.html' %}

<div class="container">

    <h1 class="white-font">Ho单列表</h1>
    <div class="table-responsive"  style="background-color: #FFF" >


    <table class="table" style="background-color: #FFF">
        <thead>
            <tr>
                <th>日期</th><th>快递</th><th>姓名</th><th>电话</th>
                <th>修改Ho单</th>
                <th>创建时间</th><th>处理时间</th>
            </tr>
        </thead>
        <tbody>

        {% set order_status_mapping = { 0: "已收录", 1: "取件中", 2: "取件成功", 3: "已完成", 4: "过期", 5: "未能找到该快递"}  %}
        {% set order_class_mapping = { 0: "warning", 1: "warning" }  %}
        {% for order in sorted_orders %}
            <tr>
                {% if date_split[loop.index0]  %}
                    <td rowspan="{{ date_split[loop.index0] }}">{{ order.created_time.strftime('%Y-%m-%d') }}</td>
                {% endif %}
                {% if company_split[loop.index0]  %}
                    <td rowspan="{{ company_split[loop.index0] }}">{{ order.company }}</td>
                {% endif %}
                <td>{{ order.name }}</td>
                <td>{{ order.phone }}</td>

                <td><form method="post" action="/order/update">
                    <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input name="order_id" type="hidden" value="{{ order.id }}"/>
                    <input name="next" type="hidden" value="/order/manage"/>
                    <input name="status" id="order_status_{{ order.id }}" type="hidden" value="0" />
                    {% for ix, v in order_status_mapping.items()|sort %}
                        {% if ix == order.status %}
                        <input onclick="document.getElementById('order_status_{{ order.id }}').value='{{ ix }}';" value="{{ v }}" type="submit" disabled class="btn btn-default btn-primary">
                        {% else %}
                        <input onclick="document.getElementById('order_status_{{ order.id }}').value='{{ ix }}';" value="{{ v }}" type="submit" class="btn btn-default">
                        {% endif%}
                    {% endfor %}
                </form></td>

                <td>{{ order.created_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ order.modified_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

{% include 'footer.html' %}