<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% include 'header.html' %}
  </head>
  <body>

{% include 'nav.html' %}

<div class="container">

    <h1 class="white-font">Ho单列表</h1>
    <div>{{ pagination.links|safe }}</div>


    <button type="button" id="btnToggleOrders" class="btn btn-info" onclick="toggleHiddenOrder(this);">隐藏已完成订单</button>

    <div class="table-responsive"  style="background-color: #FFF" >

    <table class="table" style="background-color: #FFF">


        {% set order_class_mapping = {
                    0: "btn-warning",
                    1: "btn-primary",
                    2: "btn-primary",
                    3: "btn-success",
                    4: "btn-danger",
                    5: "btn-danger",
                }
        %}

        {% for ((date, express), orders) in sorted_orders %}

        <thead>
            <tr><th colspan="5">{{ date }} - {{ express }}</th></tr>
        </thead>
        <tbody>
            <!--<tr>-->
                <!--<th>姓名</th><th>电话</th>-->
                <!--<th>修改Ho单</th>-->
                <!--<th>创建时间</th><th>处理时间</th>-->
            <!--</tr>-->

            {% for order in orders %}

            <tr {% if order.status in [3, 4] %} class="hd-finished-order" {% endif %} >

                <!--<td>{{ order.created_time.strftime('%Y-%m-%d') }}</td>-->
                <!--<td>{{ order.company }}</td>-->
                <td>{{ order.name }}</td>
                <td>{{ order.phone }} {% if order.address %}({{ order.address }}){% endif %}</td>

                <td>
                    {% for ix, v in order_status_mapping.items()|sort %}

                        <button id="order_{{ order.id }}_{{ ix }}"
                                onclick="submitUpdateOrder('{{ order.id }}', {{ ix }});"
                        {% if ix == order.status %}
                                disabled class="btn btn-xs {{ order_class_mapping[order.status] }}"
                        {% else %}
                                class="btn btn-xs btn-default"
                        {% endif%}
                        >
                            {{ v }}
                        </button>

                    {% endfor %}
                </td>

                <td>{{ order.created_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ order.modified_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
           {% endfor %}
        </tbody>
        {% endfor %}

    </table>
    </div>

    {{ pagination.links|safe }}

</div>


    <script src="//lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/ghostheader.js"></script>
    <script>
        function toggleHiddenOrder(btn) {
          if (btn.innerHTML == "隐藏已完成订单") {
            $(".hd-finished-order").css("display", "none")
            $(".hd-finished-order").addClass("row-true-hidden");
            btn.innerHTML = "显示已完成订单";
          } else {
            $(".hd-finished-order").css("display", "table-row").removeClass("row-true-hidden");;
            btn.innerHTML = "隐藏已完成订单";
          }
          stripedTableRow();
        };

        function stripedTableRow() {
            var children = $("tbody").children();
            var counter = 1;
            for (var i=0; i<children.length; i++) {
                var child = $(children[i]);
                if (!child.hasClass("row-true-hidden")) {
                    if (counter%2 == 0) {
                        $(children[i]).css("background", "#DDF");
                    } else {
                        $(children[i]).css("background", "#FFF");
                    }
                    counter++;
                }
            }
        };

        function submitUpdateOrder(order_id, status){
          $.post("/ajax/order/update",
                 {order_id: order_id, status: status, _csrf_token: "{{ csrf_token() }}"},
                 function (data, textStatus){

                if (data.status != 0) {
                    alert("update error!");
                    return;
                }

                var status_class_mapping = {{ order_class_mapping|safe }};

                var this_button_id = '#order_' + order_id + '_' + status;
                var this_button = $(this_button_id);
                this_button.removeClass("btn-default").addClass(status_class_mapping[status]);
                this_button.attr("disabled", true);

                var all_btn_classes = "btn-success btn-primary btn-warning btn-danger";

                var sbs = this_button.siblings();
                for (var i=0; i<sbs.length; i++) {
                    if (sbs[i].disabled) {
                        sbs[i].disabled = false;
                       // alert(i + "#" + status_class_mapping[i]);
                        $(sbs[i]).removeClass(all_btn_classes).addClass("btn-default");
                    }
                }

          })
        };

        $(document).ready(function() {
            toggleHiddenOrder(document.getElementById("btnToggleOrders"));
        });
    </script>

  {% include 'footer.html' %}
  </body>
</html>
